<header>
	<%= render :partial => "header_view/header_admin" %>
    <h1>TEST</h1>
    <p>Administrator</p>
</header>


<div class="form_room">
    <%= render "form", name: "agregar una nueva", submitLabel:"ADD TEST" %>
<div class="form_room">