<div>
	<div class="room_test_h2_Container">
		<h2 class="room_test_h2">
		Typing Test
		</h2>
	</div>

	<div id="login-container">
		<a href="<%= rooms_path %>">
			<div class="login" id="participant">
				<p class="room_test_p">Ingresar como administrador</p>
			</div>
		</a>
		
		<a href="<%= room_test_lobby_path %>">
			<div class="login" id="admin">
				<p class="room_test_p">Ingresar como participante</p>
			</div>
		</a>
	</div>
</div>