<div class="fondo_login">
	<%= image_tag("img/logo.png", :alt => "Logo", class:"logo") %>
</div>

<section class="login login_general">
  <%= image_tag("img/keyboard.png", :alt => "keyboard") %>
  <h1>Typing Test</h1>
  <p>Sign-in as</p>
  <a href="<%= rooms_path %>" class="button button_line">ADMINISTRATOR</a>
  <a href="<%= room_test_lobby_path %>"  class="button">PARTICIPANT</a>
</section>
