<div class="fondo_login">
	<img src="<%= asset_path('Logo_typing.png') %>">
</div>

<section class="login login_general">
  <img src="<%= asset_path('keyboard.png') %>">
  <h1>Typing Test</h1>
  <p>Sign-in as</p>
  <a href="<%= rooms_path %>" class="button button_line">ADMINISTRATOR</a>
  <a href="<%= room_test_lobby_path %>"  class="button">PARTICIPANT</a>
</section>
