<%= render :partial => "header_view/header_participant" %>

<div class="main_wrapper">
	<div class="bank_test_item">
	<% @lobby_rooms.each do |room| %>
		<h2><%= room.name %></h2>
    <%= link_to room_test_rooms_path(room_id: room.id), class:"button" do %>
      JOIN
	<% end %>
	<% end %>
	</div>
</div>