<% @tests.each do |test| %>
  <%= link_to room_test_test_path(test_id: test.id, room_id:@room_id) do %>
    <div class="lobby_test_box"> 
      <p><%= test.name %></p>
    </div>
  <% end %>
<% end %>

<p><%= @mensaje %></p>