<header>
    <%= render :partial => "header_view/header_admin" %>
    <h1>ROOM</h1>
    <p>Administrator</p>
</header>

<div class="form_room">
    <%= render "form", name: "Editar", submitLabel:"EDIT ROOM" %>
</div>