@charset "UTF-8";
/* CSS Document */

/* General CSS*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*{
  padding: 0;
  margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


body{
  font-family: 'Lato', sans-serif;
  color: #5A5A5A;
}

div.main_wrapper {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 30px;
  min-width: 500px;
}

h2, h3, h4, h5, h6 {
  color:#3E3E3E;
}

h1{
  font-size: 30px;
  font-weight: bold;
}

p {
  font-size: 14px;
  color: #5A5A5A;
}
a {
  text-decoration: none;
  font-size: 14px;
  color:#5A5A5A;

}

ul{
  list-style-type: none;
}
/* Class for white Buttons*/

.button_control {
  font-size: 17px;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.16);
  border-radius: 5px;
  padding: 6px 15px;
  margin-right: 15px;
}

.button_control:hover {
color:#FF7700;
}

.button_control img {
  width: 19px;
  height: auto;
  margin: 0 10px -2px 0;
}

.last_button_control a {
  margin-right: 0;
}

/* Class for colored Buttons*/
.button {
  display: inline-block;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 15px;
  border: none;
  background: linear-gradient(75deg, #FF7700, #FFAB40);
  color: white;
}

.button_line{
  border: solid 1px #FF7700;
  color:#FF7700;
  background: none;
}

label {
  width: 282px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 12px;
}

input {
  width: 282px;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  border: solid 2px #E1E1E1;
  margin-bottom: 15px;
}

input[type=checkbox] {
  width: auto;
}


input:focus {
  border: solid 2px #FF9120;
  outline: none;
}
input.button:focus {
  border: none;
  outline: none;
}

/* FOOTER */
footer p {
  width: 100%;
  height: 10px;
  text-align: center;
  color: #ACACAC;
}

/************************************************/
/* Color Pallet */
/* Base Colors */
/* Main Primary color */
/* Word Colors */
/************************************************/
/* Mixins / Placeholders */
#restart {
  margin: 0.2em;
  line-height: 2.2em;
  height: 2.2em; }




#word-section {
  font-size: 1em;
  height: 6em;
  line-height: 2em;
  /* hide 3rd line of text */
  border-radius: 0.25em;
  position: relative;
  overflow: hidden; }
  #word-section > span {
    display: inline-block;
    margin-left: 0.2em;
    /* emulate spaces between words */ }




#timer {
  background-color: #FFF;}

#restart {
  width: 2em;
  background-color: #68A143; }
  #restart > span {
    display: inline-block;
    transform: rotate(1.5Rad);
    font-weight: bold; }
  #restart:hover {
    background-color: #467F21; }
  #restart:active {
    box-shadow: 1px 1px 4px #467F21 inset; }

#results {
  text-align: center;
  margin: 0 1%;
  display: block; }
  #results li {
    list-style: none; }
  #results li:first-child {
    font-size: 1.5em; }
  #results li:nth-child(2) {
    font-size: 0.8em;
    line-height: 1em; }
  #results #results-stats {
    font-size: 0.6em; }



/************************************************/
/* hides small bit of residule text after scrolling */
.magic-box {
  position: fixed;
  width: inherit;
  height: 0.5em;
  top: 54px;
  background-color: #fff; }

.waiting {
  text-align: center;
  line-height: 1.5em;
  font-size: 3em; }

.current-word {
  /*background-color: #dddddd; */
  color: #713aeb; /*#eb8b3a; orange*/
}

.correct-word-c {
  color: #93C572; }

.incorrect-word-c {
  color: #ddd;
  text-decoration: line-through; }

.incorrect-word-bg {
  background-color: #e50000; }
