<header>
    <nav class="clearfix">
    <div class="main_wrapper">
        <%= image_tag("img/Logo_typing.png") %>
        <ul>
        <li>
        <span class="navbar navbar-right" style="color: white;">
        <% if participant_signed_in? %>
            <span><strong><%= current_participant.email %>.</strong>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link logout'%>
            </span>
            <% else %>
                <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
        </span>
        </li>
        </ul>
    </div>
    </nav>
    
    <h1>BANK/TEST</h1>
    <p>Participants</p>
</header>